[submodule "external/libmcu"]
	path = external/libmcu
	url = https://github.com/onkwon/libmcu.git

[submodule "components/dht_espidf"]
	path = components/dht_espidf
	url = https://github.com/infincia/dht_espidf.git